/* this sign "*" defines for all element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* for all the h1 tag of the website */
h1 {
    font-family: bradley hand itc;
    font-weight: 900;
}

/* for navbar division of the website  */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 140px;
    margin: 0px auto;
}

/* for header part of the website  */
header {
    background: #777;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 15px 30px -20px;
}

/* for nav tag of the website  */
nav {
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 15px 30px -20px;
}

/* li inside ul inside nav  */
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 13px 20px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: grey;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

/* here :: after inserts below defined things after the content of each selected element */
nav ul li a::after {
    content: '';
    background: grey;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

/* for anchor (a)  */
a {
    text-decoration: none;
    color: grey;
}

/* defining how a inside li inside ul inside nav should hover  */
nav ul li a:hover {
    color: #fff;
}

nav ul li a:hover::after {
    top: 50%;
    opacity: 1;
}

/* css for main tag */

/* for footer section of the html */
.foot {
    display: flex;
    background: #777;
    padding-left: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 12px;
    margin-top: 5%;
}

/* h1 inside foot division  */
.foot h1 {
    font-size: 18px;
    font-family: brush script m7;
}

.foot1 {
    flex: 40%;
}

.foot2 {
    flex: 40%;

}

/* a inside table inside foot2 division  */
.foot2 table a {
    color: black;
}

.foot3 {
    flex: 40%;
}

/* img inside a inside foot3  */
.foot3 a img {
    border: none;
    border-radius: 70px;
    width: 30px;
}

.foot4 {
    flex: 40%;
    padding-left: 40px;
}

/* li inside foot4  */
.foot4 li {
    list-style: none;
}

/* img inside li inside foot4 division  */
.foot4 li img {
    width: 100px;
    height: 30px;
}

/* copyright part of the footer  */
.copy {
    text-align: center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    background-color: #777;
}

/* shows which page is currently active */
.active {
    color: red;
}
